@charset "utf-8";
#contain{width: 100%; margin-top: 65px;}
#wrap{width: 1400px; margin: 0 auto;}
#subNav{width: 1400px; margin: 0 auto; font-family:'SUIT-Regular'; font-size: 1.2rem;
padding: 30px 0 80px;}
#subNav > p{color: #666;}
#subNav > p > span {color: #222;}

#leftNav{float: left; width: 15%; margin-right: 25px;}
#Home > h2{font-size:3rem; font-weight: 800; font-family:'AppleSDGothicNeo';}
#Home > h2 > span{color:#63318a;}
#Home {padding-bottom: 75px;}
#ask{font-family:'SUIT-Regular';}
#ask > ul > li{line-height: 30px;}
#ask > ul > li:nth-of-type(2){font-weight: 800;}
#ask > ul > li > a{font-size: 1.8rem;}

#rightNav{width: 926px; float: left; padding-bottom: 100px;}
#rightNav > h2{font-size: 3rem; font-family:'AppleSDGothicNeo'; font-weight: 800; padding-bottom: 5px;
text-align: center; letter-spacing: -2px;}
#rightNav > p {font-size: 2rem; font-family:'SUIT-Regular'; font-weight: 500; color: #666;
text-align: center; padding-bottom: 30px; border-bottom: 2px solid #ccc;}


#mobmenu{width: 100%; position: fixed; display: none; z-index: 100;}
#mobmenu > ul {display: inline-block; width: 100%; position: relative;}
#mobmenu > ul > li:nth-of-type(1){width: 50%; float: left; text-align: center; position: relative; background-color: #7e3fb0;}
#mobmenu > ul > li:nth-of-type(1)::after{content: ""; position: absolute; width: 0px; height: 0px; border-left: 20px solid #7e3fb0;
border-top: 22px solid transparent; border-bottom: 23px solid transparent; right: -19px; top: 0; z-index: 2;}
#mobmenu > ul > li:nth-of-type(1) > a{font-size: 1.3rem; font-weight: 300; padding: 15px 0; display: inline-block; width: 80%; color: #fff;}
#mobmenu > ul > li:nth-of-type(2){width: 50%; float: left; text-align: center; position: relative; background-color: #5d2e81;}
#mobmenu > ul > li:nth-of-type(2)::after{content: ""; position: absolute; width: 6px; height: 10px; background: url("/Team/img/mob_arrow.png") no-repeat; right: 15px; z-index: 88; top: 16px; background-size: 6px;
transform: rotate(90deg);}
#mobmenu > ul > li:nth-of-type(2) > a{font-size: 1.3rem; font-weight: 300; padding: 15px 0; width: 80%; display: inline-block; color: #fff;}
#secondmenu{width: 100%; position: relative; display: none;}
#secondmenu > li{border-top: 1px solid rgb(255, 255, 255, 0.1);}
#secondmenu > li > a{color: #fff; padding: 15px 0; display: inline-block; font-size: 1.2rem; font-weight: 200; width: 100%;}

#write > div{border-bottom: 2px solid #ccc; height: 70px; line-height: 70px; }
#write > div > span{width: 150px; display: inline-block; padding-left: 40px; font-size: 1.6rem; font-weight: 600; position: relative;}
#write > div > span:before{content: "*"; position: absolute; color: #c40f39; font-size: 2rem; font-weight: 600; top: 0px; left: 25px;} 
#write > div > input{height: 38px; border: 1px solid #e2e2e2; padding-left: 20px; cursor: pointer; width: 280px; transition: all 0.3s;}
#write > div > input:focus{box-shadow: 0px 0px 5px dodgerblue; outline: none;}
#write > div:nth-of-type(2) > a{width: 130px; display: inline-block; height: 38px; line-height: 37px; font-size: 1.3rem; border: 1px solid #eee; text-align: center; margin-right: 15px; background-color: #f1f1f1; color: #b3b3b3;}
.active3{background-color: #c40f39 !important; color: #fff !important; font-weight: 500;}

#tele,#mail{width: 130px; height: 38px; margin-right: 25px; padding-left: 20px; margin-left: 0; font-size: 1.3rem; letter-spacing: 1px;}
#mail{margin-left: 4px;}
.tel{width: 130px !important; margin-right: 25px;}
#write > div:nth-of-type(5) > b{display: inline; font-size: 1.3rem; margin: 10px; color: #b3b3b3;}
#write > div:nth-of-type(5) > input:nth-of-type(2){width: 160px;}
#write > div:nth-of-type(7){height: 382px;}
#write > div:nth-of-type(7) > span{height: 450px; vertical-align:middle;}
#write > div:nth-of-type(7) > textarea{width: 700px; height: 350px; border: 1px solid #eee; padding: 15px; color: #c40f39; margin: 15px 0px;}
#write > div:nth-of-type(8) > input{cursor:default;}

@media all and (max-width:500px) {
    #subNav{display: none;}
    #leftNav{display: none;}
    #rightNav{width: 90%; float: none; margin: 0 auto; padding-bottom: 0px;}
    #rightNav > h2{display: none;}
    #rightNav > p{display: none;}
    #mobmenu{display: block;}
    .small{position: fixed; background-color: #fff;}
}

@media all and (min-width:501px) and (max-width:1399px) {
    #subNav > p{margin-left: 2.5%;}
    #leftNav{display: none;}
    #rightNav{width: 100%; float: none; margin: 0 auto; padding-bottom: 0px;}
}

@media all and (max-width:1400px) {
    #wrap{width: 100%;}
}